<footer class="container">
    <div class="d-flex justify-content-between py-lg-10 border-bottom">
        <p class="text-gray-500 fs-2 fw-bolder">想看什麼主題由你決定！</p>
        <div>
            <p class="text-gray-500 fs-4 fw-bold mb-3">歡迎投稿與我們分享</p>
            <button class="btn btn-secondary-200 fs-lg-5 text-white">聯絡我們</button>
        </div>
    </div> 
    <div class="py-5">
        <p class="text-primary-400 text-center">©Vivre 2024 All right Reserved</p>
    </div>   
</footer>